$accentColor = #2ECC40
div {
    .navbar {
        background-color: #2ECC40;

        .links {
            background-color: #2ECC40;
        }

        .site-name {
            color: white;
        }
    }

    .page {
        .theme-default-content {
            .author-wrapper {
                margin-top: 3rem;
            }
        }
    }
}

.nav-item {
    .icon {
        color: white;
    }

    .external {
         &:hover {
            border-bottom: 2px solid white;
         }
    }

    .nav-link.router-link-exact-active.router-link-active {

        border-bottom-color: #2ecc40 ;

        &:hover {
            border-bottom-color: white;
        }
    }
}

.dropdown-wrapper {
    .dropdown-title {
        .arrow {
            border-top-color: #111111;
        }
    }
}



