$accentColor = #2ECC40
.navbar {
    background-color: #2ECC40;

    .links {
        background-color: #2ECC40;
    }
}

.dropdown-wrapper {
    .dropdown-title {
        .arrow {
                border-top-color: #111111;
        }
    }
}

