$accentColor = #2ECC40
div {
    .navbar {
        background-color: #2ECC40;

        .links {
            background-color: #2ECC40;
        }

        .site-name {
            color: white;
        }
    }

    .page {
        .theme-default-content {
            .author-wrapper {
                margin-top: 3rem;
            }
        }
    }
}

.nav-item {
    .icon {
        color: white;
    }
}

.dropdown-wrapper {
    .dropdown-title {
        .arrow {
                border-top-color: #111111;
        }
    }
}

